@model List<DomainModel.Entities.Song>

@if (Model.Count > 0) {
    <ol id="albumSongs_@ViewBag.AlbumId" class="albumSongs">
        @{
        var albumId = Convert.ToInt32(ViewBag.AlbumId);
        var songModels = new List<PlayLift.Models.ArtistSongModel>();
        var trmservice = new WebService.WCFWebServiceJson();
        var position = 0;

        foreach (var song in Model)
        {
            songModels.Add(new PlayLift.Models.ArtistSongModel
            {
                AlbumId = albumId,
                MediaAssetPath = trmservice.GetSongMediaAssets(song.SongId).FirstOrDefault(x => x.MediaAssetFormat.MediaAssetFormatName == "mp3").MediaAssetLocation.Path,
                SongComposer = song.SongComposer,
                SongId = song.SongId,
                SongReleaseDate = song.SongReleaseDate,
                SongTitle = song.SongTitle,
                PRS = song.PRS
            });
        }

        foreach (var song in songModels)
        {
            <li id="song_@song.SongId" class="notSelected">
                <img src="~/Content/themes/trm/images/play.png" class="play" onclick="playSong(@song.SongId, '@PlayLift.PlayLiftBase.StreamingUrl@song.MediaAssetPath', '@song.AlbumCover', '@song.SongTitle', false, @position)" />
                @song.SongTitle
                @Html.Partial("_InfoHelper", new PlayLift.Models.InfoHelper() { Message = "Composer: " + song.SongComposer + " | Released: " + song.SongReleaseDate.ToString("dd MMM yyyy"), AltMessage = "Song information" })
                @*&nbsp;|&nbsp;
                    @Html.ActionLink("Edit song", "EditSong", new { songId = song.SongId })*@
                @{if(song.PRS) {
                    <text>&nbsp;|&nbsp;</text>
                    <img src="http://www.prsformusic.com/Style%20Library/Images/Logos/prsformusiclogo.jpg" class="icon" title="PRS for music" alt="PRS for music" />
                  }
                }
                &nbsp;|&nbsp;
                <img class="icon" alt="Delete Song" src="~/Content/themes/trm/images/icons/delete_32x32.png" onclick="deleteSong('profilePlaceholder', '/Account/DeleteSong', @song.SongId, @ViewBag.AlbumId, '/Account/ViewAlbum')" />
            </li>
            
            position = position++;
        }

        if (songModels.Count > 0)
        {
            <li>
                @Html.Partial("_BasicPlayer")
            </li>
        }
        }
    </ol>
}
else
{
    <label>There are no songs.</label>
}

