@model DomainModel.Entities.Artist
@{
    ViewBag.Title = "Edit your personal details";
}

@using (Html.BeginForm("ManageArtist", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Personal Details</legend>
        <ol>
            @*<li>
                @Html.LabelFor(m => m.ProfileImage)
                <input type="file" name="profileImage" />
            </li>*@
            <li>
                @Html.LabelFor(m => m.ArtistName)
                @Html.TextBoxFor(m => m.ArtistName)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Website)
                @Html.TextBoxFor(m => m.Website)
            </li>
            <li>
                @Html.Label("Location")
                @*@Html.HiddenFor(m => m.CountyCityId, new { id = "CountyCityId", value = 0 })*@
                @Html.TextBox("CountyCity", "N11")
                <br />
                <em>
                    Please enter only the first part of your postcode (e.g. ME2 or NN11)
                </em>
            </li>
            @*<li>
                @Html.HiddenFor(m => m.CountyCityId, new { id = "CountyCityId" })
                @Html.Label("County*")
                @Html.DropDownList("County", null, new { id = "County" })
            </li> 
            <li>
                @Html.Label("City*")
                @Html.DropDownList("City", null, new { id = "City" })
            </li>*@ 
            <li>
                @Html.LabelFor(m => m.SoundCloud)
                @Html.TextBoxFor(m => m.SoundCloud)
            </li>
            <li>
                @Html.LabelFor(m => m.Facebook)
                @Html.TextBoxFor(m => m.Facebook)
            </li>
            <li>
                @Html.LabelFor(m => m.Twitter)
                @Html.TextBoxFor(m => m.Twitter)
            </li>
            <li>
                @Html.LabelFor(m => m.MySpace)
                @Html.TextBoxFor(m => m.MySpace)
            </li>            
                @{
                    var WCFWebServiceJson = new WebService.WCFWebServiceJson();
                    var genreList = WCFWebServiceJson.GetAllGenres();

                    foreach (var artistGenre in Model.GenreCollection)
                    {
                        foreach (var genre in genreList)
                        {
                            if (genre.GenreId == artistGenre.GenreId)
                            {
                                genre.Selected = true;
                            }
                        }
                    }

                    Html.RenderPartial("GenreList", genreList);
                }
        </ol>
        <input type="submit" value="Save Personal Details" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}