@model List<DomainModel.Entities.Album>

@if (Model.Count > 0) { 
<ol id="AlbumList">
    @{
        foreach (var album in Model)
        {
            <li class="album">
                <img class="thumbnail" src="@PlayLift.PlayLiftBase.StreamingUrl@album.AlbumCover" alt="@album.AlbumTitle" />
                @album.AlbumTitle
                &nbsp;|&nbsp;
                <img class="icon" src="~/Content/themes/trm/images/view.png" onclick="viewAlbum('profilePlaceholder', '/Account/ViewAlbum', @album.AlbumId)" />
                @*&nbsp;|&nbsp;
                    @Html.ActionLink("Edit album", "EditAlbum", new { albumId = album.AlbumId })*@
                &nbsp;|&nbsp;
                <img class="icon" src="~/Content/themes/trm/images/icons/delete_32x32.png" onclick="deleteAlbum('profilePlaceholder', '/Account/DeleteAlbum', @album.AlbumId, '/Account/ArtistAlbums')" />
            </li>
        }
    }
</ol>
}
else
{
    <label>There are no albums.</label>
}

