@model DomainModel.Entities.Artist

@{
    ViewBag.Title = "Manage your account";
    var TrmWcfWebServiceJson = new WebService.WCFWebServiceJson();
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@Html.Partial("_ArtistAccountNavigation")

<section id="artist-profile" class="leftCol">

    @if (string.IsNullOrEmpty(Model.ArtistName))
    {
        <label>
            You haven't updated your personal information yet. You must at least have an artist/band name before you can upload any music.
            You can update your details <a href="#" onclick="loadView('profilePlaceholder', '/Account/ArtistDetails/');">here</a>.
        </label>
    }
    else
    {
        @Html.Action("ArtistProfile")
    }    
</section>

<section class="rightCol" id="profilePlaceholder">
    <section id="externalLogins">
        @Html.Action("RemoveExternalLogins")

        <h3>Add an external login</h3>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</section>


