@model List<PlayLift.Models.DashboardArtistModel>

<table id="artistsDashboard" class="display">
    <thead>
        <tr class="artistsDashboard-head">
            <td class="left profile-img"></td>
            <td class="middle">
                <div class="column-in">
                    Artist
                </div>
            </td>
            <td class="right">
                <div class="column-in">
                    Play Count
                </div>
            </td>
            <td class="right"></td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var artist in (List<PlayLift.Models.DashboardArtistModel>)Model)
    {
        <tr class="artistsDashboard-row">
            <td class="left">
                <div class="column-in">
                    <img width="60" src="@PlayLift.PlayLiftBase.StreamingUrl@artist.ProfileImage"
                         alt="@artist.ArtistName profile image" class="shadow" />
                </div>
            </td>
            <td class="middle">
                <div class="column-in">
                    @artist.ArtistName
                </div>
            </td>
            <td class="right">
                <div class="column-in">
                    @artist.TimesPurchased
                </div>
            </td>
            <td class="right">
                <img class="more-artist" src="@Url.Content("~/Content/themes/dashboard/images/plus-icon.png")" alt="More artist play details"
                     onclick="loadArtistPlaysView('dashboard-index', '/BusinessDashboard/_Activity/', @artist.UserId, '@artist.ArtistName');" />
            </td>
        </tr>
    }
}
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        applyArtistPlaysDataTableToDashboard('artistsDashboard');
    });
</script>