@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        What is Audiostem?
    </p>
    <p>
        Audiostem is in effect a music trading post, a place where emerging artists can promote 

        their work directly to listeners whilst cutting out the middle men such as the royalties 

        agencies who have failed to meet the demands of an ever changing industry and have, in 

        effect, stifled new artists and restricted their ability to get their music heard.

    </p>
    <p>
        It is a place where people who love and care about promoting new music talent can 

        discover and buy new music safe in the knowledge that the lion's share of the price paid 

        will go straight in the pocket of the artist. We believe that musicians should be paid 

        whenever their music is downloaded, broadcast or played instead of being at the mercy of 

        a overly bureaucratic process that actually restricts the ways on which new music can be 

        discovered. 
    </p>
    <p>
        We are at a crossroads in the music industry where the restrictions imposed upon 

        musicians also affects the way in which music can be used in public spaces. We are 

        losing the spaces where people can meet, talk and discover new music, the cafe's, 

        restaurants, bars etc.
    </p>
    <p>
        Additionally, the cost of playing music in spaces such as these to enhance the 

        environment in which they are working to create a certain image or feeling within their 

        space is proving to be another unwanted and unnecessary overhead. There is a wealth 

        of wonderful music out there, usually right on our own doorstep. Audiostem is the way 

        we bring that music into your business. Right now a small business can pay over £500 

        a year for a PRS and PPL licence alone. Our solution would mean that we will provide 

        businesses with music from exciting new and emerging artists from a broad range of 

        genres, from rock, pop, electronic, dance, jazz, folk and eventually as the service develops 

        we will look to provide music from any genre that a business would need to enhance their 

        retail experience. 
    </p>
    <p>
        Music is the one medium that is consistent across the majority of media experiences in modern life, from watching television, playing video games, browsing the net, through to the retail experience of shopping and socialising with friends.
    </p>
    <p>
        It is this convergence that is becoming increasingly exploited through advertising, film scores, soundtracks and other media, however the point that is often discussed by those in media and those who listen to music, is that it is becoming increasingly hard for musicians, bands, artists to get their music heard.

    </p>
    <p>
        With the ever increasing expanse of the Internet and use of streaming services such as Spotify and their inclusion on systems such as games consoles, smart TV's and smartphones, why is the music industry struggling to such an extreme?
    </p>
    <p>
        The music and musicians are out there, in the pubs and clubs trying to get their music heard and in turn posting their music on the Internet through services like Soundcloud, YouTube and the like but again, it is harder to find new music and indeed appreciate the vast expanse of musical history.
    </p>
    <p>
        At Total Resolution Music we believe that the most effective, inspiring and influential way of promoting music is still being led by individuals recommending great music; someone playing music to an audience.
    </p>
    <p>
        Of course, this role naturally fits into the job description of the DJ, predominantly the radio DJ; the person who selects the music for their show, who has passion and emotional skin in the game.
    </p>
    <p>
        This is becoming an increasing rarity due to commercialism of radio and media.
    </p>
    <p>
        Of course, this is becoming the accepted norm for the way in which music is heard and "learnt" and therefore, is it any surprise that the industry is choking? So what is the answer?

    </p>
    <p>
        Total Resolution Music believes that the solution is a simple one, music grows through sharing with people, through people; not brands.
    </p>
    <p>
        The current perception is that this can be achieved over the net, but the truth is "with" implies human interaction.
    </p>
    <p>
        We believe music is a much more basic and communal experience.
    </p>
    <p>
        When we listen to music together we connect in a more profound, human way than cannot be achieved remotely.
    </p>
    <p>
        Music needs to be able to grow in a more organic manner and technological innovations should be utilised to allow this to happen in a more effective, natural way.
      We need to enhance the experience, not replace it.
    </p>
    <p>
        The statistics below from Independent MusicWorks show how music has an impact to how we socialise and work and why music is something that is integral to our everyday lives:
    </p>
    <ul>
        <li>- A third of customers are willing to pay 5% more in businesses that play music</li>
        <li>- 74% of employees enjoy going to work more when music is being played, and a third are less likely to take time off sick</li>
        <li>- More than half of customers spend more time in a shop that plays music</li>
        <li>- 91% of those surveyed prefer a bar that plays background music – two-thirds said they would not return to their favourite bar if the music was turned off</li>
        <li>- 81% prefer hair salons that play music</li>
        <li>- 82% of gym users like to hear music as they work out</li>
        <li>- Playing music in waiting rooms makes over three-quarters of people more relaxed</li>
        <li>- So, how do we allow this communal experience to grow? Well, that's where Audiostem comes in.</li>
    </ul>

    <p>
        Audiostem is a new service that we have developed that allows artists to interact directly with their audience, wherever they may be, whether in shops, cafés, restaurants or in bars.
    </p>
    <p>
        Audiences, artists and business are able to work together in a unique way that allows direct interaction between all three complainants.
    </p>
    <p>
        We cannot go into to much detail of exactly how the system works at this stage, but as we develop this service further we will update you through our newsletter and latest news section on this site.
    </p>
    <p>
        The music revolution starts here...step inside, watch us grow, let us have your feedback and ideas about how we can improve our system to bring you the best new music in your area.
    </p>
    <p>
        Wherever you are... Welcome to Audiostem!
    </p>
</article>

@*<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@

<div class="clear"><!-- --></div>

<br /><br /><br /><br />
