@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>	
    <p>
        What is Audiostem?

Audiostem is in effect a music trading post, a place where emerging artists can promote 

their work directly to listeners whilst cutting out the middle men such as the royalties 

agencies who have failed to meet the demands of an ever changing industry and have, in 

effect, stifled new artists and restricted their ability to get their music heard.

    </p>
    <p>
        It is a place where people who love and care about promoting new music talent can 

discover and buy new music safe in the knowledge that the lion's share of the price paid 

will go straight in the pocket of the artist. We believe that musicians should be paid 

whenever their music is downloaded, broadcast or played instead of being at the mercy of 

a overly bureaucratic process that actually restricts the ways on which new music can be 

discovered. 
    </p>
    <p>
        We are at a crossroads in the music industry where the restrictions imposed upon 

musicians also affects the way in which music can be used in public spaces. We are 

losing the spaces where people can meet, talk and discover new music, the cafe's, 

restaurants, bars etc.
    </p>
    <p>
        Additionally, the cost of playing music in spaces such as these to enhance the 

environment in which they are working to create a certain image or feeling within their 

space is proving to be another unwanted and unnecessary overhead. There is a wealth 

of wonderful music out there, usually right on our own doorstep. Audiostem is the way 

we bring that music into your business. Right now a small business can pay over £500 

a year for a PRS and PPL licence alone. Our solution would mean that we will provide 

businesses with music from exciting new and emerging artists from a broad range of 

genres, from rock, pop, electronic, dance, jazz, folk and eventually as the service develops 

we will look to provide music from any genre that a business would need to enhance their 

retail experience. 
    </p>
    <h2>FAQ's</h2>

    <h3>I'm a musician/band. How do I upload my music?</h3>
    <p>
        First @Html.ActionLink("create a profile", "RegisterArtist", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) and from there upload your 

        music directly onto Audiostem. We will review the music to ensure that it is suitable for public 

        broadcast and that it is of the correct sound quality. Once your music has been cleared 

        for use we will send you a notification to let you know your music has become active on 

        Audiostem.
    </p>
    <h3>What is the required bit rate when uploading music?</h3>
    <p>
        We require a bit rate equal to or superior to 128Kbps
    </p>
    <h3>How do I get paid for my music?</h3>
    <p>
        When one of your songs is requested through the Audiostem app in a retail space, we will redistribute 20% of the subscriptions paid by 
        businesses based on a ratio of your songs played. This only applies if you are not registered with PRS for Music. This is why we 
        recommend that you cancel your PRS licence and register for a Creative Commons Licence instead.
        Our system is more accurate, and the built-in dashboard allows you to stay on top of where your music is played, and how much money 
        you are making through our system.
        
        So the more your music is played, the more money you will receive.

        When your music is downloaded, you will receive 70% of the fee. We are working toward the artist getting 100%, but we are a way away from 

        that at the moment. All in good time. 
    </p>
    <h3>I'm a member of a royalties collection agency. Can I join?</h3>
    <p>
        We can work with you if you are a member of PRS and hold the publishing rights to your music. 
        However, you do not need to be a member of PRS to work with us.  We are able to work with you through the use of a Creative Commons 
        licence which allows you to publish and distribute your material whilst retaining your copyright.
    </p>
    <h3>What happens when I get a major record deal and need to join a royalties collection agency?</h3>
    <p>
        Congratulations! You've hit the big time! We'll be first in line to pat you on the back and 

        pop the champagne with you. Of course we'll need to review our arrangement at this 

        point. We manage our clients music catalogue on a quarterly basis so we would ask to 

        have access to your current catalogue on the system until the end of the current quarter. 

        This will give us time to manage our clients expectations and re-configure the system. 
    </p>
</article>

@*<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@