<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - PlayLift Ltd</title>
    <link href="~/icon_logo.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/trm/css")
    @Scripts.Render("~/bundles/modernizr")
    @Html.Partial("_Fonts")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                @Html.Partial("_Logo")
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Dashboard", "Index", "Admin")</li>
                    </ul>
                </nav>
            </div>

            <div class="clear"><!-- --></div>
        </div>
    </header>
    <div id="body" class="wrapper">
        @RenderSection("featured", required: false)
        <section class="content-wrapper clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer class="footer">
        @Html.Partial("_FooterLinks")
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/trm/scripts")
    <script src="@Url.Content("~/Content/themes/cloudPlayer/js/cloudplayer.js")"></script>
    @RenderSection("scripts", required: false)
	@Html.Partial("_JavaScript")
</body>
</html>
