<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - PlayLift Ltd</title>
    <link href="~/icon_logo.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/cloudPlayer/css/cloudplayer.css")" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/smartticker/css/jquery.smarticker.min.css")">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css" />
    @Styles.Render("~/Content/cloudplayer/css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/trm/css")
    @Scripts.Render("~/bundles/modernizr")
    @Html.Partial("_Fonts")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                @Html.Partial("_Logo")
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>

            <div class="clear"><!-- --></div>
        </div>
    </header>
    <div id="audiostemNews"><ul></ul></div>
    <div id="body" class="wrapper">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer class="footer">
        @Html.Partial("_FooterLinks")
    </footer>

    @*@Scripts.Render("~/bundles/jquery")*@
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/trm/scripts")
    @Scripts.Render("~/bundles/cloudplayer/scripts")
    @*<script src="@Url.Content("~/Content/themes/cloudPlayer/js/cloudplayer.js")"></script>*@
    @RenderSection("scripts", required: false)
    @Html.Partial("_JavaScript")
    @Html.Partial("_SmartTicker")
    <script type="text/javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
</body>
</html>
