@model TRMAudiostem.Models.ManageArtistModel

<h3>Personal Details</h3>

<p class="message-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm("ArtistDetails", "Account", FormMethod.Post, new { id = "artistDetails", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    var TRMWCFWebServiceJson = new TRMWebService.TRMWCFWebServiceJson();
    var genreList = TRMWCFWebServiceJson.GetAllGenres();
    var profileImagePath = string.Empty;
    if (Model != null)
    {
        profileImagePath = TRMAudiostem.AudiostemBase.StreamingUrl + Model.ProfileImagePath;
    }

    <fieldset class="registrationForm">
        <legend>Personal Details</legend>
        <ol>
            <li>
                <p class="validateTips">All fields marked with an asterix are required.</p>
                <input type="hidden" name="UserName" />
            </li>
            <li>
                @Html.LabelFor(m => m.ProfileImage)

                @{
    if (Model != null && !string.IsNullOrEmpty(Model.ProfileImagePath))
    {
        <img class="profile" src="@profileImagePath" alt="@User.Identity.Name profile image" />
                    <input type="hidden" id="ProfileImagePath" name="ProfileImagePath" value="@Model.ProfileImagePath" />
    }
                }
                <br />
                <input type="file" id="ProfileImage" name="ProfileImage" />
            </li>
            <li>
                @Html.LabelFor(m => m.ArtistName)
                @Html.TextBoxFor(m => m.ArtistName)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Website)
                @Html.TextBoxFor(m => m.Website)
            </li>
            <li>
                @Html.LabelFor(m => m.Bio)
                <p>This is what will be displayed on your public profile page</p>
                @Html.TextAreaFor(m => m.Bio, new { id = "bio", maxlength = "500", rows = 5 })
                <br />
                <p id="remainingCharacters"></p>

                <script type='text/javascript'>
                    setInterval(function () { CharacterCount('bio', 'remainingCharacters') }, 55);
                </script>
            </li>
            <li>
                @Html.Label("Location")
                @*@Html.HiddenFor(m => m.CountyCityId, new { id = "CountyCityId", value = 0 })*@
                @Html.TextBox("CountyCity", "N11")
                <br />
                <em>
                    Please enter only the first part of your postcode (e.g. ME2 or NN11)
                </em>
            </li>
            @*<li>
                @Html.LabelFor(m => m.County)
                @Html.DropDownListFor(m => m.County, null, new { id = "County" })
            </li>
            <li>
                    @Html.LabelFor(m => m.City)
                    @Html.DropDownListFor(m => m.City, null, new { id = "City" })
                </li>*@
            <li>
                @Html.LabelFor(m => m.SoundCloud)
                @Html.TextBoxFor(m => m.SoundCloud)
            </li>
            <li>
                @Html.LabelFor(m => m.Facebook)
                @Html.TextBoxFor(m => m.Facebook)
            </li>
            <li>
                @Html.LabelFor(m => m.Twitter)
                @Html.TextBoxFor(m => m.Twitter)
            </li>
            <li>
                @Html.LabelFor(m => m.MySpace)
                @Html.TextBoxFor(m => m.MySpace)
            </li>
            <li>
                @Html.Label("Royalties Collection Agency Status")

                @if (Model.PRS)
                {
                    @Html.CheckBoxFor(m => m.PRS, new { @class = "royalty", id = "prs", onchange = "validateRoyalty('prs');", @checked = "checked" })
                    <span>Are you registered with PRS for music?</span>
                    @Html.Partial("_InfoHelper", new TRMAudiostem.Models.InfoHelper() { Message = "You cannot use this option if you have a Creative Commons Licence.", AltMessage = "PRS Licence Info" })
                    <br />
                    @Html.CheckBoxFor(m => m.CreativeCommonsLicence, new { @class = "royalty", id = "cc", onchange = "validateRoyalty('cc');", disabled = "disabled" })
                    <span>Do you have a Creative Commons Licence?</span>
                    @Html.Partial("_InfoHelper", new TRMAudiostem.Models.InfoHelper() { Message = "You cannot use this option if you have a PRS Licence.", AltMessage = "Creative Commons Licence Info" })
                }
                else if (Model.CreativeCommonsLicence)
                {
                    @Html.CheckBoxFor(m => m.PRS, new { @class = "royalty", id = "prs", onchange = "validateRoyalty('prs');", disabled = "disabled" })
                    <span>Are you registered with PRS for music?</span>
                    @Html.Partial("_InfoHelper", new TRMAudiostem.Models.InfoHelper() { Message = "You cannot use this option if you have a Creative Commons Licence.", AltMessage = "PRS Licence Info" })
                    <br />
                    @Html.CheckBoxFor(m => m.CreativeCommonsLicence, new { @class = "royalty", id = "cc", onchange = "validateRoyalty('cc');", @checked = "checked" })
                    <span>Do you have a Creative Commons Licence?</span>
                    @Html.Partial("_InfoHelper", new TRMAudiostem.Models.InfoHelper() { Message = "You cannot use this option if you have a PRS Licence.", AltMessage = "Creative Commons Licence Info" })
                }
                else if (!Model.PRS && !Model.CreativeCommonsLicence)
                {
                    @Html.CheckBoxFor(m => m.PRS, new { @class = "royalty", id = "prs", onchange = "validateRoyalty('prs');" })
                    <span>Are you registered with PRS for music?</span>
                    @Html.Partial("_InfoHelper", new TRMAudiostem.Models.InfoHelper() { Message = "You cannot use this option if you have a Creative Commons Licence.", AltMessage = "PRS Licence Info" })
                    <br />
                    @Html.CheckBoxFor(m => m.CreativeCommonsLicence, new { @class = "royalty", id = "cc", onchange = "validateRoyalty('cc');" })
                    <span>Do you have a Creative Commons Licence?</span>
                    @Html.Partial("_InfoHelper", new TRMAudiostem.Models.InfoHelper() { Message = "You cannot use this option if you have a PRS Licence.", AltMessage = "Creative Commons Licence Info" })
                }
            </li>
            <li id="artistGenreList">
                @Html.LabelFor(m => m.GenreCollection)
                @{
                if (Model != null)
                {
                    foreach (var artistGenre in Model.GenreCollection)
                    {
                        foreach (var genre in genreList)
                        {
                            if (genre.GenreId == artistGenre.GenreId)
                            {
                                genre.Selected = true;
                            }
                        }
                    }
                }

                Html.RenderPartial("GenreList", genreList);
                }
            </li>

        </ol>
        <input type="submit" id="save-artist-details" value="Save Personal Details" />
    </fieldset>
}

@Scripts.Render("~/bundles/jqueryui")
<script>
    $(function () {
        loadArtistDetailsForm();
    });
</script>