@model TRMAudiostem.Models.ArtistSongModel

@using (Html.BeginForm("ArtistSongs", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    var TRMWCFWebServiceJson = new TRMWebService.TRMWCFWebServiceJson();
    var genreList = TRMWCFWebServiceJson.GetAllGenres();
    var mediaAssetPath = string.Empty;
    if (Model != null)
    {
        mediaAssetPath = "https://s3-eu-west-1.amazonaws.com/trmmaster/" + Model.MediaAssetPath;
        
        @*Html.ActionLink("<-- Go back to songs page", "ArtistSongs")*@
        <input type="hidden" name="SongId" value="@Model.SongId" />   
    }
    
    <fieldset class="registrationForm">
        <legend>Song Details</legend>
        <ol>
            <li>
                @Html.Label("Select an album to upload songs")
                @Html.Partial("SimpleAlbumList", (List<DomainModel.Entities.Album>)ViewBag.ArtistAlbums)
            </li>
            <li>
                @Html.LabelFor(m => m.MediaAsset)

                @{
    if (Model != null)
    {
                    <input type="hidden" name="MediaAsset" value="@Model.MediaAssetPath" />   
    }
                }
                <br />
                <input type="file" name="MediaAsset" />
                <br />
                <em>We recommend using files smaller than 40mb as larger files may take a long time to upload.</em>
            </li>
            <li>
                @Html.LabelFor(m => m.SongTitle)
                @Html.TextBoxFor(m => m.SongTitle)
            </li>
            <li>
                @Html.LabelFor(m => m.SongReleaseDate)
                @Html.TextBoxFor(m => m.SongReleaseDate)
            </li>
            <li>
                @Html.LabelFor(m => m.SongComposer)
                @Html.TextBoxFor(m => m.SongComposer)
            </li>
            <li>
                @{
                    Html.RenderPartial("GenreList", genreList);
                }
            </li>
        </ol>
        <br />
        <input class="saveButton" type="submit" value="Save Song Details" onclick="showAndDisableControl('loader', 'saveButton', 'Saving song details');" />
        <img class="loader" src="@Url.Content("~/Content/themes/trm/images/uploading.gif")" alt="Uploading song. Please wait." title="Your song is uploading. If it is a large file, it may take some time." />
    </fieldset>
}


