@model TRMAudiostem.Models.ArtistRegisterModel
@using TRMAudiostem.TRMWebServiceJson;
@{
    ViewBag.Title = "Register as an artist or a band";
}


<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

<section id="loginForm">
    @using (Html.BeginForm("RegisterArtist", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset class="registrationForm">
            <legend>Registration Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.ProfileImage)
                    <input type="file" name="ProfileImage" />
                    @Html.Partial("_InfoHelper", new TRMAudiostem.Models.InfoHelper() { Message = "This image will be used thoughout the site to identify you or your band.", AltMessage = "Profile Image Info" })
                </li>
                <li>
                    @Html.LabelFor(m => m.ArtistName)
                    @Html.TextBoxFor(m => m.ArtistName)
                    @Html.Partial("_InfoHelper", new TRMAudiostem.Models.InfoHelper() { Message = "This name will be used thoughout the site to identify you or your band.", AltMessage = "Artist Name Info" })
                </li>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                </li>
                <li>
                    @Html.LabelFor(m => m.Bio)
                    <p>This is what will be displayed on your public profile page</p>
                    @Html.TextAreaFor(m => m.Bio, new { id = "bio", maxlength = "500", rows = 5 })
                    <br />
                    <p id="remainingCharacters"></p>

                    <script type='text/javascript'>
                        setInterval(function () { CharacterCount('bio', 'remainingCharacters') }, 55);
                    </script>
                </li>
                <li>
                    @Html.Label("Location")
                    @*@Html.HiddenFor(m => m.CountyCityId, new { id = "CountyCityId", value = 0 })*@
                    @Html.TextBox("CountyCity")
                    <br />
                    <em>
                        Please enter only the first part of your postcode (e.g. ME2 or NN11)
                    </em>
                </li>
                <li>
                    @Html.LabelFor(m => m.Website)
                    @Html.TextBoxFor(m => m.Website)
                </li>
                <li>
                    @Html.LabelFor(m => m.SoundCloud)
                    @Html.TextBoxFor(m => m.SoundCloud)
                </li>
                <li>
                    @Html.LabelFor(m => m.Facebook)
                    @Html.TextBoxFor(m => m.Facebook)
                </li>
                <li>
                    @Html.LabelFor(m => m.Twitter)
                    @Html.TextBoxFor(m => m.Twitter)
                </li>
                <li>
                    @Html.LabelFor(m => m.MySpace)
                    @Html.TextBoxFor(m => m.MySpace)
                </li>
                <li>
                    @{
                        var TRMWCFWebServiceJson = new TRMWebService.TRMWCFWebServiceJson();
                        var genreList = TRMWCFWebServiceJson.GetAllGenres();

                        Html.RenderPartial("GenreList", genreList);
                    }
                </li>
                <li>
                    @Html.Label("Royalties Collection Agency Status")

                    @Html.CheckBoxFor(m => m.PRS, new { @class = "royalty", id = "prs", onchange = "validateRoyalty('prs');" })
                    Are you registered with PRS for music?
                    @Html.Partial("_InfoHelper", new TRMAudiostem.Models.InfoHelper() { Message = "You cannot use this option if you have a Creative Commons Licence.", AltMessage = "PRS Licence Info" })
                    <br />
                    @Html.CheckBoxFor(m => m.CreativeCommonsLicence, new { @class = "royalty", id = "cc", onchange = "validateRoyalty('cc');" })
                    Do you have a Creative Commons Licence?
                    @Html.Partial("_InfoHelper", new TRMAudiostem.Models.InfoHelper() { Message = "You cannot use this option if you have a PRS Licence.", AltMessage = "Creative Commons Licence Info" })
                </li>
                <li>
                    @Html.LabelFor(m => m.TermsAndConditions)
                    @Html.CheckBoxFor(m => m.TermsAndConditions)
                    &nbsp;
                    I have read and agree to the @Html.ActionLink("terms and conditions", "TermsAndConditions", "Home", null, new { target = "_blank" }) and
                    @Html.ActionLink("licence of digital content", "ArtistTermsAndConditions", "Account", null, new { target = "_blank" })
                    and I confirm that the music I upload is my own work, and I have full copyright and publishing rights.
                </li>
            </ol>
            <input type="submit" value="Register" />
        </fieldset>
    }
</section>

<section class="social" id="socialLoginForm">
    <h2>Use another service to register.</h2>
    <p>
        You can update your profile and upload your music later.
    </p>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/trm/scripts")
}