@model DomainModel.Entities.Album

@{
    ViewBag.Title = "ViewAlbum";
}

<a href="#" onclick="loadView('profilePlaceholder', '/Account/ArtistAlbums/');"><- back to albums</a>

<h3>@Model.AlbumTitle by @User.Identity.Name</h3>

<img class="album" src="@ViewBag.AlbumCoverPath" alt="@Model.AlbumTitle + 'cover image'" />

<fieldset>
    <legend>@Model.AlbumTitle</legend>
    <ol>
        <li></li>
        <li>Released on @Model.AlbumReleaseDate.ToString("dd MMM yyyy")</li>
        <li>Produced by @Model.AlbumProducer</li>
        <li>@Model.AlbumLabel</li>
    </ol>
</fieldset>

<div class="clear"><!-- --></div>

<h4>
    Song List for @Model.AlbumTitle |
    <img class="icon" src="~/Content/themes/trm/images/icons/add_32x32.png" alt="Add song" title="Add song" onclick="loadView('profilePlaceholder', '/Account/ArtistSongs/');" />
</h4>

@*@{
        var TRMService = new TRMWebService.TRMWCFWebServiceJson();
        var songList = TRMService.GetAlbumSongs(Model.AlbumId);

        Html.Partial("AlbumSongList", songList, new ViewDataDictionary {{ "albumId", Model.AlbumId }});
    }*@

<ol id="AlbumList">
    @{
        var albumId = Convert.ToInt32(ViewData["albumId"]);
        var songModels = new List<TRMAudiostem.Models.ArtistSongModel>();
        var trmservice = new TRMWebService.TRMWCFWebServiceJson();
        var songList = trmservice.GetAlbumSongs(Model.AlbumId);

        foreach (var song in songList)
        {
            songModels.Add(new TRMAudiostem.Models.ArtistSongModel
            {
                AlbumId = albumId,
                MediaAssetPath = trmservice.GetSongMediaAssets(song.SongId).FirstOrDefault().MediaAssetLocation.Path,
                SongComposer = song.SongComposer,
                SongId = song.SongId,
                SongReleaseDate = song.SongReleaseDate,
                SongTitle = song.SongTitle
            });
        }

        foreach (var song in songModels)
        {
            @*<li>
                <img src="~/Content/themes/trm/images/play.png" class="play" onclick="playSong('@TRMAudiostem.AudiostemBase.StreamingUrl@song.MediaAssetPath')" />
                @song.SongTitle
            </li>*@
            <li id="song_@song.SongId" class="notSelected">
                <img src="~/Content/themes/trm/images/play.png" title="Play now" alt="Play now" class="play" onclick="playSong(@song.SongId, '@TRMAudiostem.AudiostemBase.StreamingUrl@song.MediaAssetPath', '@TRMAudiostem.AudiostemBase.StreamingUrl@Model.AlbumCover', '@song.SongTitle.Replace("'", "\\'")', '@Model.AlbumTitle', '@User.Identity.Name')" />
                &nbsp;|&nbsp;
                @song.SongTitle
            </li>
        }
    }
</ol>

@if (songList.Count > 0) { 
    @Html.Partial("_BasicPlayer")
}
