@*@model DomainModel.Entities.Business*@
@{
    ViewBag.Title = " Cloud Player";
    Layout = "~/Views/Shared/_CloudPlayerLayout.cshtml";
}

<nav class="navbar navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <ul class="nav navbar-nav navbar-left">
        <li id="backViewButton" class="main-menu-trigger"><a href="#" navbar-control="backView" title="Back"><i class="fa fa-arrow-left"></i></a></li>
        <li class="main-menu-trigger"><a id="trigger" href="#"><i class="fa fa-dot-circle-o"></i></a></li>
    </ul>

    <!-- Media player -->
    <ul class="nav navbar-nav navbar-right">
        <li class="main-menu-trigger"><a id="shuffleButton" href="#" navbar-control="shuffle" title="Shuffle"><i class="fa fa-random"></i></a></li>
        <li class="main-menu-trigger"><a id="A2" href="#" navbar-control="backward" title="Backward"><i class="fa fa-step-backward "></i></a></li>
        <li class="main-menu-trigger"><a id="playlist-play" navbar-control="play" title="Play"><i class="fa fa-play "></i></a></li>
        <li class="main-menu-trigger"><a id="A1" navbar-control="stop" title="Play"><i class="fa fa-stop "></i></a></li>
        <li class="main-menu-trigger"><a id="A3" href="#" navbar-control="forward" title="Forward"><i class="fa fa-step-forward "></i></a></li>
        <li class="main-menu-trigger"><a id="searchTrigger" href="#" navbar-control="search" title="Search"><i class="fa fa-search"></i></a></li>
        <li>
            <div id="navbar-search" class="search-container">
                <input id="quick-filter" class="quick-search" placeholder="Quick Search ..." />
            </div>
        </li>
        <li class="main-menu-trigger"><a id="A4" navbar-control="newfile" title="New Playlist" data-toggle="modal" href="#newPlaylistDialog"><i class="fa fa-file"></i></a></li>
        <li class="main-menu-trigger"><a id="A5" navbar-control="save-playlist" title="Save active playlist" data-toggle="modal" href="#savePlaylistDialog"><i class="fa fa-floppy-o"></i></a></li>

        <li class="main-menu-trigger"><a id="playlistTrigger" href="#" navbar-control="playlist"><i class="fa fa-th"></i></a></li>
    </ul>
    <div class="navbar-header">
        <a class="pull-left" href="#">
            <h4 class="logo">audiostem<small> CloudPlayer</small></h4>
        </a>
    </div>
</nav>
<!-- navigation -->
<seekbar id="seek" class="global-progress-bar">
    <div id="player" class="jp-video player-container">
		<div class="jp-type-playlist">
			<div id="player1" class="jp-jplayer"></div>
			<div class="jp-gui">
				<div class="jp-interface">
					<div class="jp-progress">
						<div class="jp-seek-bar">
							<div class="jp-play-bar"></div>
						</div>
					</div>
					<div class="jp-title">
						<ul>
							<li></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="jp-playlist" style="display: none;">
				<ul id="songs">
					<!-- The method Playlist.displayPlaylist() uses this unordered list -->
					<li></li>
				</ul>
			</div>
			<div class="jp-no-solution">
				<span>Update Required</span>
				To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
			</div>
		</div>
	</div>
</seekbar>
<div class="cloud-player">
    <!-- Push Wrapper -->
    <div class="mp-pusher" id="mp-pusher">

        <!-- mp-menu -->
        <nav id="mp-menu" class="mp-menu">
            <div class="mp-level">
                @{ if(WebSecurity.IsAuthenticated) {
                    <div id="identity" class="identity-container">
                        <div class="user-avatar">
                            <img width="64px" height="64px" src="@ViewBag.ImagePath" alt="@WebSecurity.CurrentUserName + 'profile image'" />
                            @*<img width="64px" height="64px" src="@Url.Content("~/Content/themes/cloudPlayer/uploads/starbucks-logo.png")" />*@
                        </div>
                        <div class="user-info">
                            <h3 id="username">@WebSecurity.CurrentUserName</h3>
                            <!-- TODO -->
                            @*<h5 id="usertype"><i class="fa fa-map-marker"></i></h5>*@
                            <br />
                        </div>
                    </div>
                    }
                }
                <ul>
                    <li class="dot artists">
                        <a href="#">Artists</a>
                        <div class="mp-level">
                            <h2><i class="fa fa-group"></i>Artists</h2>
                            <input class="quick-search" placeholder="Search ..." />
                            <a class="mp-back" href="#"><i class="fa fa-arrow-left"></i>Back</a>
                            @*<ul data-type="expanded-list">*@
                            <ul>
                                @{
                                    foreach (var genre in (List<DomainModel.Entities.Genre>)ViewBag.Genres)
                                    {
                                    <li class="dot">
                                        <a href="#">@genre.GenreName</a>
                                        <div class="mp-level">
                                            <h2>@genre.GenreName</h2>
                                            <a class="mp-back" href="#"><i class="fa fa-arrow-left"></i>Back</a>
                                            <ul>
                                                @Html.Partial("ArtistList", genre)
                                            </ul>
                                        </div>
                                    </li> 
                                    }
                                }
                            </ul>
                        </div>
                    </li>
                    <!-- Item 2 -->
                    <li class="dot albums">
                        <a href="#">Albums</a>
                        <div class="mp-level">
                            <h2><i class="fa fa-play-circle-o"></i>Albums</h2>
                            <a class="mp-back" href="#"><i class="fa fa-arrow-left"></i>Back</a>
                            <ul>
                                <li><a href="#">Most listened to</a></li>
                                <li><a href="#">Fresh Top 20</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- !Item 2 -->
                    @*<li class="dot venues">
                        <a href="#">Venues</a>
                        <div class="mp-level">
                            <h2><i class="fa fa-map-marker"></i>Venues</h2>
                            <a class="mp-back" href="#"><i class="fa fa-arrow-left"></i>Back</a>
                            <ul>
                                <li>
                                    <a href="#">Nearby</a>
                                    <div class="mp-level">
                                        <h2>Nearby</h2>
                                        <a class="mp-back" href="#"><i class="fa fa-arrow-left"></i>Back</a>
                                        <ul>
                                            <li class="icon icon-arrow-left">
                                                <a href="#">Coffee Shops</a>
                                                <div class="mp-level">
                                                    <h2 class="icon icon-female">Coffee Shops</h2>
                                                    <a class="mp-back" href="#"><i class="fa fa-arrow-left"></i>Back</a>
                                                    <ul>
                                                        <li><a href="#">Coffee Shop 1</a></li>
                                                        <li><a href="#">Coffee Shop 2</a></li>
                                                        <li><a href="#">Coffee Shop 3</a></li>
                                                        <li><a href="#">Coffee Shop 4</a></li>
                                                        <li><a href="#">Coffee Shop 5</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="icon icon-arrow-left">
                                                <a href="#">Pubs</a>
                                                <div class="mp-level">
                                                    <h2>Pubs</h2>
                                                    <a class="mp-back" href="#"><i class="fa fa-arrow-left"></i>Back</a>
                                                    <ul>
                                                        <li><a href="#">Pub 1</a></li>
                                                        <li><a href="#">Pub 2</a></li>
                                                        <li><a href="#">Pub 4</a></li>
                                                        <li><a href="#">Pub 5</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">Venue 1</a>
                                </li>
                                <li>
                                    <a href="#">Venue 2</a>
                                </li>
                                <li>
                                    <a href="#">Venue 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="dot recommended"><a href="#">Recommended</a></li>
                    <li class="dot options"><a href="#">Options</a>
                        <div class="mp-level">
                            <h2><i class="fa fa-cogs"></i>Options</h2>
                            <a class="mp-back" href="#"><i class="fa fa-arrow-left"></i>Back</a>
                            <ul>
                                <li class="icon icon-arrow-left">
                                    <a href="#">Option one</a>
                                </li>
                                <li class="icon icon-arrow-left">
                                    <a href="#">Option two</a>
                                </li>
                            </ul>
                        </div>
                    </li>*@
                </ul>
            </div>
        </nav>
        <!-- /mp-menu -->

        <!-- Playlist -->
        <!-- firstHalf -->
        <div id="firstHalf" class="scroller">
            <!-- this is for emulating position fixed of the nav -->
            <div id="mainViewQueue" class="viewBlock" view-type="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h3>Currently playing <span class="songTotal"></span> songs<br />
                            <small>
                                <h5>All changes are automatically saved</h5>
                            </small>
                        </h3>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    </div>
                </div>

                <br />

                <div id="sortable" class="droparea sort scroller-inner">

                    <div id="001" class="music-item-container" data-toggle="context" style="background-image: url('https://s3-eu-west-1.amazonaws.com/trmstreamtest/Sean_Taylor/Love_Against_Death/SeanTaylor-Chase_the_Night.jpg')">
                        <div id="file_001" class="music-play" data-path="http://s3-eu-west-1.amazonaws.com/trmstreamtest/Sean_Taylor/Love_Against_Death/STAND_UP_128.mp3"></div>
                        <div class="music-info">

                            <div class="music-song">Stand Up</div>
                            <small>by </small>
                            <div class="music-artist">Sean Taylor</div>

                        </div>
                        <!-- tile interaction -->
                        <div class="music-action music-artistProfile" data-toggle="artist-page" title="Artist's Page"><i class="fa fa-user"></i></div>
                        <div class="music-action music-love" data-toggle="love-this" title="Love this track"><i class="fa fa-heart"></i></div>
                        <div class="music-action music-removeFrom-currentPlaylist" data-toggle="remove-this" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
                        <div class="music-action music-addTo-currentPlaylist" data-toggle="add-this" title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                        <!-- tile interaction -->
                        <div class="glare"></div>
                    </div>

                    <div id="002" class="music-item-container" data-toggle="context" style="background-image: url('https://s3-eu-west-1.amazonaws.com/trmstreamtest/Rokoko/Test_Title/rokoko.jpg')">
                        <div id="file_002" class="music-play" data-path="http://s3-eu-west-1.amazonaws.com/trmstreamtest/Rokoko/Test_Title/FACE_A_LA_MER_128.mp3"></div>
                        <div class="music-info">

                            <div class="music-song">Face a la mer</div>
                            <small>by </small>
                            <div class="music-artist">Negresses Vertes</div>

                        </div>
                        <!-- tile interaction -->
                        <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                        <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
                        <div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
                        <div class="music-action music-addTo-currentPlaylist" title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                        <!-- tile interaction -->
                        <div class="glare"></div>
                    </div>

                    <div id="003" class="music-item-container" data-toggle="context" style="background-image: url('@Url.Content("~/Content/themes/cloudPlayer/images/amy_w.jpg")')">
                        <div id="file_003" class="music-play" data-path="songs/Amy Winehouse - Tears Dry On Their Own.mp3"></div>
                        <div class="music-info">

                            <div class="music-song">Tears Dry On Their Own</div>
                            <small>by </small>
                            <div class="music-artist">Amy Winehouse</div>

                        </div>
                        <!-- tile interaction -->
                        <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                        <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
                        <div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
                        <div class="music-action music-addTo-currentPlaylist" title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                        <!-- tile interaction -->
                        <div class="glare"></div>
                    </div>

                    <div id="004" class="music-item-container" data-toggle="context" style="background-image: url('@Url.Content("~/Content/themes/cloudPlayer/images/amy_w.jpg")')">
                        <div id="file_004" class="music-play" data-path="songs/Amy Winehouse - Wake Up Alone.mp3"></div>
                        <div class="music-info">

                            <div class="music-song">Wake Up Alone</div>
                            <small>by </small>
                            <div class="music-artist">Amy Winehouse</div>

                        </div>
                        <!-- tile interaction -->
                        <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                        <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
                        <div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
                        <div class="music-action music-addTo-currentPlaylist" title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                        <!-- tile interaction -->
                        <div class="glare"></div>
                    </div>

                    <div id="005" class="music-item-container" data-toggle="context" style="background-image: url('@Url.Content("~/Content/themes/cloudPlayer/images/antony_r.jpg")')">
                        <div id="file_005" class="music-play" data-path="songs/Antony Raijekov - Deep blue (2005).mp3"></div>
                        <div class="music-info">

                            <div class="music-song">Deep blue</div>
                            <small>by </small>
                            <div class="music-artist">Antony Raijekov</div>

                        </div>
                        <!-- tile interaction -->
                        <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                        <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
                        <div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
                        <div class="music-action music-addTo-currentPlaylist" title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                        <!-- tile interaction -->
                        <div class="glare"></div>
                    </div>

                    <div id="006" class="music-item-container" data-toggle="context" style="background-image: url('@Url.Content("~/Content/themes/cloudPlayer/images/antony_r.jpg")')">
                        <div id="file_006" class="music-play" data-path="songs/Antony Raijekov - Don-ki-Not (2003).mp3"></div>
                        <div class="music-info">

                            <div class="music-song">Don-ki-Not</div>
                            <small>by </small>
                            <div class="music-artist">Antony Raijekov</div>

                        </div>
                        <!-- tile interaction -->
                        <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                        <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
                        <div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
                        <div class="music-action music-addTo-currentPlaylist" title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                        <!-- tile interaction -->
                        <div class="glare"></div>
                    </div>

                    <div id="007" class="music-item-container" data-toggle="context" style="background-image: url('@Url.Content("~/Content/themes/cloudPlayer/images/antony_r.jpg")')">
                        <div id="file_007" class="music-play" data-path="songs/Antony Raijekov - Drop of whisper (2005).mp3"></div>
                        <div class="music-info">

                            <div class="music-song">Drop of whisper</div>
                            <small>by </small>
                            <div class="music-artist">Antony Raijekov</div>

                        </div>
                        <!-- tile interaction -->
                        <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                        <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
                        <div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
                        <div class="music-action music-addTo-currentPlaylist" title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                        <!-- tile interaction -->
                        <div class="glare"></div>
                    </div>

                    <div id="008" class="music-item-container" data-toggle="context" style="background-image: url('@Url.Content("~/Content/themes/cloudPlayer/images/antony_r.jpg")')">
                        <div id="file_008" class="music-play" data-path="songs/Antony Raijekov - EXIT 65 (2005).mp3"></div>
                        <div class="music-info">

                            <div class="music-song">EXIT 65</div>
                            <small>by </small>
                            <div class="music-artist">Antony Raijekov</div>

                        </div>
                        <!-- tile interaction -->
                        <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                        <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
                        <div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
                        <div class="music-action music-addTo-currentPlaylist" title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                        <!-- tile interaction -->
                        <div class="glare"></div>
                    </div>

                    <div id="009" class="music-item-container" data-toggle="context" style="background-image: url('@Url.Content("~/Content/themes/cloudPlayer/images/antony_r.jpg")')">
                        <div id="file_009" class="music-play" data-path="songs/Antony Raijekov - Fidder (2004).mp3"></div>
                        <div class="music-info">

                            <div class="music-song">Fidder</div>
                            <small>by </small>
                            <div class="music-artist">Antony Raijekov</div>

                        </div>
                        <!-- tile interaction -->
                        <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                        <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
                        <div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
                        <div class="music-action music-addTo-currentPlaylist" title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                        <!-- tile interaction -->
                        <div class="glare"></div>
                    </div>

                    <div id="010" class="music-item-container" data-toggle="context" style="background-image: url('@Url.Content("~/Content/themes/cloudPlayer/images/antony_r.jpg")')">
                        <div id="file_010" class="music-play" data-path="songs/Antony Raijekov - Go 'n' Drop (2003).mp3"></div>
                        <div class="music-info">

                            <div class="music-song">Go 'n' Drop</div>
                            <small>by </small>
                            <div class="music-artist">Antony Raijekov</div>

                        </div>
                        <!-- tile interaction -->
                        <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                        <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
                        <div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
                        <div class="music-action music-addTo-currentPlaylist" title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                        <!-- tile interaction -->
                        <div class="glare"></div>
                    </div>

                    <div id="011" class="music-item-container" data-toggle="context" style="background-image: url('@Url.Content("~/Content/themes/cloudPlayer/images/antony_r.jpg")')">
                        <div id="file_011" class="music-play" data-path="songs/Antony Raijekov - Lightout (2003).mp3"></div>
                        <div class="music-info">

                            <div class="music-song">Lightout</div>
                            <small>by </small>
                            <div class="music-artist">Antony Raijekov</div>

                        </div>
                        <!-- tile interaction -->
                        <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                        <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
                        <div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
                        <div class="music-action music-addTo-currentPlaylist" title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                        <!-- tile interaction -->
                        <div class="glare"></div>
                    </div>

                    <div id="012" class="music-item-container" data-toggle="context" style="background-image: url('@Url.Content("~/Content/themes/cloudPlayer/images/frank_s.jpg")')">
                        <div id="file_012" class="music-play" data-path="songs/Frank Sinatra - I Get a Kick Out of You.mp3"></div>
                        <div class="music-info">

                            <div class="music-song">I Get a Kick Out of You</div>
                            <small>by </small>
                            <div class="music-artist">Frank Sinatra</div>

                        </div>
                        <!-- tile interaction -->
                        <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                        <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
                        <div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
                        <div class="music-action music-addTo-currentPlaylist" title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                        <!-- tile interaction -->
                        <div class="glare"></div>
                    </div>

                </div>
                <!-- /scroller-inner -->
            </div>
            <!-- /mainViewQueue -->

            <div id="dynamicContainer" class="viewBlock" view-type="container" style="min-height: 600px">
                <div class="venue-page" view-type="venue">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="venue-page-info">
                                <div class="venue-page-logo"></div>
                                <div class="venue-page-name">
                                    <h3>Venue</h3>
                                </div>
                                <div class="venue-page-location">Location</div>
                                <div class="venue-currently-playing">Currently playing</div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="venue-page-currentQueue">
                                <h5>Current Queue</h5>
                            </div>
                            <div class="clones sort scroller-inner">
                                <div id="015" class="music-item-container" data-toggle="context" style="background-image: url('@Url.Content("~/Content/themes/cloudPlayer/images/nouvelle_v.jpg")')">
                                    <div id="file_015" class="music-play" data-path="songs/Nouvelle Vague - In A Manner of Speaking.mp3"></div>
                                    <div class="music-info">

                                        <div class="music-song">In A Manner of Speaking</div>
                                        <small>by </small>
                                        <div class="music-artist">Nouvelle Vague</div>

                                    </div>
                                    <!-- tile interaction -->
                                    <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                                    <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
                                    <div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
                                    <div class="music-action music-addTo-currentPlaylist" title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                                    <!-- tile interaction -->
                                    <div class="glare"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--dynamicViewContainer -->

        </div>
        <!-- /firstHalf -->

        <!-- Search Results -->
        <!-- secondHalf -->
        <div id="secondHalf" class="playlistManagement">

            <div class="playlistContainer">
                <h3>Playlist Management<br />
                    <small>Sort your playlist items</small>	</h3>

                <div id="username_userRandomCode_playlist0001" class="playlist-container" data-type="expanded-list">
                    <h6>Playlist 1</h6>
                    <button>Play this playlist</button>
                    <button>Rename</button>
                    <button>Delete</button>
                    <hr />
                    <ul class="playlist-item-list">
                        <li class="playlist-item">
                            <div class="song_small_thumbnail" style="display: inline-block">
                                <div class="song_playlist_queue" style="display: inline-block">1</div>
                            </div>
                            <div class="song_playlist_title" style="display: inline-block">Song title</div>
                            <div class="song_playlist_artist" style="display: inline-block">Artist</div>
                        </li>
                        <li class="playlist-item">
                            <div class="song_small_thumbnail" style="display: inline-block">
                                <div class="song_playlist_queue" style="display: inline-block">2</div>
                            </div>
                            <div class="song_playlist_title" style="display: inline-block">Song title</div>
                            <div class="song_playlist_artist" style="display: inline-block">Artist</div>
                        </li>
                        <li class="playlist-item">
                            <div class="song_small_thumbnail" style="display: inline-block">
                                <div class="song_playlist_queue" style="display: inline-block">3</div>
                            </div>
                            <div class="song_playlist_title" style="display: inline-block">Song title</div>
                            <div class="song_playlist_artist" style="display: inline-block">Artist</div>
                        </li>
                        <li class="playlist-item">
                            <div class="song_small_thumbnail" style="display: inline-block">
                                <div class="song_playlist_queue" style="display: inline-block">4</div>
                            </div>
                            <div class="song_playlist_title" style="display: inline-block">Song title</div>
                            <div class="song_playlist_artist" style="display: inline-block">Artist</div>
                        </li>
                        <li class="playlist-item">
                            <div class="song_small_thumbnail" style="display: inline-block">
                                <div class="song_playlist_queue" style="display: inline-block">5</div>
                            </div>
                            <div class="song_playlist_title" style="display: inline-block">Song title</div>
                            <div class="song_playlist_artist" style="display: inline-block">Artist</div>
                        </li>
                        <li class="playlist-item">
                            <div class="song_small_thumbnail" style="display: inline-block">
                                <div class="song_playlist_queue" style="display: inline-block">6</div>
                            </div>
                            <div class="song_playlist_title" style="display: inline-block">Song title</div>
                            <div class="song_playlist_artist" style="display: inline-block">Artist</div>
                        </li>
                    </ul>
                </div>
                <div id="Div1" class="playlist-container" data-type="expanded-list">
                    <h6>Playlist 2</h6>
                    <button>Play this playlist</button>
                    <button>Rename</button>
                    <button>Delete</button>
                    <hr />
                    <ul class="playlist-item-list">
                        <li class="playlist-item">
                            <div class="song_small_thumbnail" style="display: inline-block">
                                <div class="song_playlist_queue" style="display: inline-block">1</div>
                            </div>
                            <div class="song_playlist_title" style="display: inline-block">Song title</div>
                            <div class="song_playlist_artist" style="display: inline-block">Artist</div>
                        </li>
                        <li class="playlist-item">
                            <div class="song_small_thumbnail" style="display: inline-block">
                                <div class="song_playlist_queue" style="display: inline-block">2</div>
                            </div>
                            <div class="song_playlist_title" style="display: inline-block">Song title</div>
                            <div class="song_playlist_artist" style="display: inline-block">Artist</div>
                        </li>
                        <li class="playlist-item">
                            <div class="song_small_thumbnail" style="display: inline-block">
                                <div class="song_playlist_queue" style="display: inline-block">3</div>
                            </div>
                            <div class="song_playlist_title" style="display: inline-block">Song title</div>
                            <div class="song_playlist_artist" style="display: inline-block">Artist</div>
                        </li>
                        <li class="playlist-item">
                            <div class="song_small_thumbnail" style="display: inline-block">
                                <div class="song_playlist_queue" style="display: inline-block">4</div>
                            </div>
                            <div class="song_playlist_title" style="display: inline-block">Song title</div>
                            <div class="song_playlist_artist" style="display: inline-block">Artist</div>
                        </li>
                        <li class="playlist-item">
                            <div class="song_small_thumbnail" style="display: inline-block">
                                <div class="song_playlist_queue" style="display: inline-block">5</div>
                            </div>
                            <div class="song_playlist_title" style="display: inline-block">Song title</div>
                            <div class="song_playlist_artist" style="display: inline-block">Artist</div>
                        </li>
                        <li class="playlist-item">
                            <div class="song_small_thumbnail" style="display: inline-block">
                                <div class="song_playlist_queue" style="display: inline-block">6</div>
                            </div>
                            <div class="song_playlist_title" style="display: inline-block">Song title</div>
                            <div class="song_playlist_artist" style="display: inline-block">Artist</div>
                        </li>
                    </ul>
                </div>



            </div>
            <!-- /playlistContainer-->

        </div>
        <!-- /secondHalf -->
    </div>
    <!-- /pusher -->

</div>
<!-- /cloud-player -->

<!-- aux -->
<!-- Button trigger modal -->

<!-- newPlaylistDialog -->
<div class="modal fade" id="newPlaylistDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create a new active playlist?</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="check.forceEmptyAndNew()">Create</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.newPlaylistDialog -->

<!-- savePlaylist -->
<div class="modal fade" id="savePlaylistDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Save current playlist?</h4>
            </div>
            <div class="modal-body">
                <h3>You currently have <span class="songTotal"></span>songs in your playlist</h3>
                <input placeholder="Enter playlist name" />
                <textarea placeholder="Enter playlist description"></textarea>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.savePlaylist -->

<!-- shareModal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Share song</h4>
            </div>
            <div class="modal-body">
                <h5>dummy data</h5>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.shareModal -->

<div id="context-menu">
    <ul class="dropdown-menu" role="menu">
        <li><a menu-action="addToPlaylist" tabindex="-1" href="#">Add to playlist</a></li>
        <li><a menu-action="play" tabindex="-1" href="#">Play</a></li>
        <li><a menu-action="share" tabindex="-1" href="#">Share</a></li>
        <li><a menu-action="select" tabindex="-1" href="#">Select item</a></li>
        <li><a menu-action="selectAll" tabindex="-1" href="#">Select all item</a></li>
        <li class="divider"></li>
        <li><a menu-action="remove" tabindex="-1" href="#">Remove</a></li>
    </ul>
</div>
<div id="context-menu2">
    <ul class="dropdown-menu" role="menu">
        <li><a menu-action="addToPlaylist" tabindex="-1" href="#">Add to playlist</a></li>

    </ul>
</div>
