@model List<TRMAudiostem.Models.ArtistSongModel>

<ol id="albumSongs_@ViewBag.AlbumId" class="albumSongs">
    @{foreach (var song in (List<TRMAudiostem.Models.ArtistSongModel>)Model)
      {
        <li id="song_@song.SongId" class="notSelected">
            <img src="~/Content/themes/trm/images/play.png" title="Play now" alt="Play now" class="play" onclick="playSong(@song.SongId, '@TRMAudiostem.AudiostemBase.StreamingUrl@song.MediaAssetPath', '@TRMAudiostem.AudiostemBase.StreamingUrl@ViewBag.AlbumCover', '@song.SongTitle.Replace("'", "\\'")', '@ViewBag.AlbumTitle', '@ViewBag.ArtistName')" />
            &nbsp;|&nbsp;
            <img src="~/Content/themes/cloudplayer/images/addtoplaylist.png" title="Add to playlist" alt="Add to playlist" class="playlist" onclick="addSongToPlaylist(@song.SongId, '@TRMAudiostem.AudiostemBase.StreamingUrl@song.MediaAssetPath', '@TRMAudiostem.AudiostemBase.StreamingUrl@ViewBag.AlbumCover', '@song.SongTitle.Replace("'", "\\'")', '@ViewBag.AlbumTitle', '@ViewBag.ArtistName')" />
            &nbsp;|&nbsp;
            @song.SongTitle             
            &nbsp;|&nbsp;
            Composer: @song.SongComposer
            &nbsp;|&nbsp;
            Released: @song.SongReleaseDate.ToString("dd MMM yyyy")            
        </li>
      }
    }
</ol>

