@model List<DomainModel.Entities.Song>

<ol id="AlbumList">
    @{        
        var albumId = Convert.ToInt32(ViewData["albumId"]);
        var songModels = new List<PlayLift.Models.ArtistSongModel>();
        var trmservice = new WebService.WCFWebServiceJson();

        foreach (var song in Model)
        {
            songModels.Add(new PlayLift.Models.ArtistSongModel
            {
                AlbumId = albumId,
                MediaAssetPath = trmservice.GetSongMediaAssets(song.SongId).FirstOrDefault().MediaAssetLocation.Path,
                SongComposer = song.SongComposer,
                SongId = song.SongId,
                SongReleaseDate = song.SongReleaseDate,
                SongTitle = song.SongTitle
            });
        }

        foreach (var song in songModels)
        {
            <li id="song_@song.SongId" class="song">
                <img src="~/Content/themes/trm/images/play.png" class="play" onclick="playSong(@song.SongId, '@PlayLift.PlayLiftBase.StreamingUrl@song.MediaAssetPath', '', '', false, 0)" />
                @song.SongTitle                
                &nbsp;|&nbsp;
                Composer: @song.SongComposer
                &nbsp;|&nbsp;
                Released: @song.SongReleaseDate.ToString("dd MMM yyyy")
            </li>   
        }
    }
</ol>

